/* 
Paleta de colores

{
    --aecolor-negro: #000000;
    --aecolor-gris-oscuro: #333333;
    --aecolor-gris-intermedio: #999999;
    --aecolor-gris-claro: #CCCCCC;
    --aecolor-blanco: #FFFFFF;
    --aecolor-rojo: #F2333A;
    --aecolor-CURRENT-MAIN-COLOR
}

son variables. Se llaman con la fución var().
Ej: 
background-color: var(aecolor-rojo);


en el caso de --aecolor-CURRENT-MAIN-COLOR es una variable
para ir actualizando a medida que se cambia de sección,
y que todo tenga el mismo color base (principalmente para textos)

*/

/*
Fonts utilizables:
    'Baron_neue_regular'
    'Gotham-Thin'
    'Gotham-Light'
    'Gotham-Medium'
    'Gotham-Book'
    'Gotham-Bold'
    'Gotham-Black'
    'Gotham-Ultra'
    'Roboto'
        300
        400
        700






*/

/*
Iconpack - fontAwesome
https://fontawesome.com/

como usar:
<i class="fas fa-camera"></i>
la clase puede ser:
- fas= para estilo "sólido"
- fab= para marcas / brands

fa-camera
"fa" es prefijo de fontawesome. Para todos los íconos es el mismo
"camera" es el ícono seleccionado, es lo que hay qeu cambiar


acá se pueden encontrar todos los íconos gratuitos:
https://fontawesome.com/icons?d=gallery&s=solid&m=free


*/

/*
*****************************************************************************
Definiciones generales
*****************************************************************************
*/

.titulo-estacion {
    position: fixed;
    left: 5vw;
    font-size: 6em;
    text-transform: uppercase;
    line-height: 150px;
}


#login .titulo-login-primeralinea, #login .titulo-login-segundalinea{
    text-transform: capitalize;
}


/*
*****************************************************************************
Header
*****************************************************************************
*/

header {
    height: 8vh;
    width: 100%;
    padding: 3vh 0;
}

header img {
    height: 100%;
    max-height: 20px;
    margin-left: 5vw;
    margin-top: -20px;
}

header a {
    position: absolute;
    right: 5vw;
}


/*
*****************************************************************************
Header
*****************************************************************************
*/

footer{
    background: none;
    width: 100%;
    padding: 3vh 0;
    position: fixed;
    bottom: 0;
    right: -3vw;
    color: var(--aecolor-gris-intermedio);
}


/*
*****************************************************************************
barrita lateral
*****************************************************************************
*/
#sliderlateral {
    position: fixed;
    right: 0;
    top: 50%;
    width: 100px;
    height: 10px;
    text-align: right;
}

#sliderlateral a {
    display: block;
    /*height: 50px;*/
    width: 100%;
    text-align: right;
    line-height: 25px;
}


#sliderlateral span {
    transition-duration: 0.3s;
    display: inline-block;
    width: 50%;
    height: 2px;
    background-color: var(--aecolor-gris-oscuro);
    vertical-align: middle;

}

#sliderlateral a:hover span {
    transition-duration: 0.3s;
    width: 100%;
    background-color: var(--aecolor-rojo);
}

#sliderlateral a p {
    /*transition-duration: 0.3s;*/
    display: none;
    text-align: left;
    margin-top: 0;
    padding-top: 0;
    line-height: auto;
    color: var(--aecolor-CURRENT-MAIN-COLOR);
    /*
No funciona

    -webkit-animation: fadeOutToNone 5.5s ease-out;
    -moz-animation: fadeOutToNone 5.5s ease-out;
    -o-animation: fadeOutToNone 5.5s ease-out;
    animation: fadeOutToNone 5.5s ease-out;*/
}

#sliderlateral .active:hover p {
    display: block;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

#sliderlateral .active span {
    background-color: var(--aecolor-CURRENT-MAIN-COLOR);
    width: 75%;
}

/*
*****************************************************************************
Secciones
*****************************************************************************
*/

.estacion, #login {
    width: 100%;
    height: 100%;
}

.estacion a{
    /*width: 10px;*/
    height: 10px;
    position: fixed;
    bottom: 100px;
    right: 100px;
    background-color: var(--aecolor-gris-oscuro);
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    transform: scale(1);
	animation: pulse 2s infinite;
}

.estacion a i{
    position: relative;
    bottom: 40%;
    left: 20%;
}
